/* ----------------------Fancy revealing Animation----------------------------------------------------- */
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.top-bar-left, .top-bar-right {
  opacity: 0;
  animation: fade-in-right ease 0.4s forwards;
}

.top-bar-middle {
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.4s;
}

.top-bar-right {
  animation-delay: 0.8s;
}

/* --------------------------------------------------------------------------- */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  color: #d9dbdd;
}

/*
.App-header {
  background-color: red;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 10px; }
*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.top-bar {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center ;
  align-content: center ;
  width: 100%;
  height: 100px;
  font-size: 1.5em;
  color: grey;
  flex-wrap: wrap;

  margin-bottom: 4px;
}

.top-bar-left {
  display: inline-flex ;
  align-items: center ;
  text-align: center;
  width: 50%;
  flex-wrap: wrap;
}

.top-bar-left ul {
  list-style-type:none;
  display:flex;
  justify-content: center;
  align-items: center ;
}

.top-bar-left ul li{
  display: list-item;
  padding: 5px 10px;
  margin: 0 3px;
}

.top-bar-middle {
  width: 15%;
}


a {
  display: inline;
  padding: 0;
}

.top-bar-right {
  width: 30%;
}

.top-bar-right ul {
  list-style-type:none;
  display:flex;
  justify-content: left;
  align-items: center ;

}
